.container {
    display: grid;
    border: 2px solid darkblue;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    background-color: rgb(154, 209, 244);
    gap: 20px;
    text-align: center;
    font-size: 3rem;
}

div {
    border: 1px solid black;

}

.child-1 {
    grid-row: span 2;
}