.container {
    display: flex;
    background-color: aqua;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    height: 100px;

    .container__1 {
        border: 1px solid black;
        margin: 2px;
    }

}