.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 80px 80px;
    gap: 5px;
    background-color: #21f37c;
    padding: 10px;
    align-content: center;
    height: 600px;
  }
  
  .container > div {
    background-color: antiquewhite;
    text-align: center;
    font-size: 2rem;
  }