body {
    padding: 20px;
    margin-bottom: 300px;
    box-sizing: border-box;
}

.navbar {
    border: 3px solid red;
    margin: 10px;
    background-color: lightpink;
    padding: 20px;
    width: 30%;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;

}