$bg-primary: rgb(112, 198, 142);

@for $i from 1 through 3 {
    .main .main-1:nth-child(#{$i}){
        
        background-color: darken($bg-primary, $i * 10%);
    }
}

.container-navbar {
    background-color: #e7e7e7;
    border: 2px solid #333333;

    .container-navbar-menu {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 30% 12% 12% 12% 12%;
        padding-left: 30px;
        padding-right: 30px;
        background-color: lightpink;

        .menu:hover {
            color: #ff0000;
        }

        .voices {
            font-size: 18px;
        }

    }
         

    .main {
        display: flex;
        flex-direction: row;
        padding-top: 25px;
        padding-left: 10px;
        padding-right: 10px;

        .main-1_1 {
            width: 50%;
            padding-right: 8px;
        }

        .main-2_2 {
            width: 50%;
        }
    }

}