.element {
    border: 3px solid red;
    background-color: darkkhaki;
    height: 40px;
    width: 60px;
}

#first {
    display: inline;
}

#second {
    display: inline-block;
}

#third {
    display: block;
}