.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 90px 250px;
    gap: 5px;
    background-color: #21f37c;
    padding: 10px;
  }
  
  .container > div {
    background-color: antiquewhite;
    text-align: center;
    font-size: 2rem;
  }