.container {
    display: flex;
    background-color: aqua;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 200px;
    
}

.container > div {
    font-size: 1rem;
    width: 100px;
    height: 80px;
    background-color: beige;
    text-align: center;
    border: 2px solid black;
    margin: 5px;

}

.container__2 {
    flex-basis: 120px;
}
