.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 20px 50px;
    line-height: 80px;
}

.item {
    background-color: azure;
    border: 2px solid blue;
    font-size: 2rem;
    text-align: center;
   
}